.container {
    width: 960px;
    margin: 0 auto;
}

.task_1 {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(236, 12, 12);
    padding: 30px 0 70px 0;
}

.title {
    margin: 70px 40%;
}

.task_1 span {
    color: rgb(13, 13, 197);
}

.task_2 {
    border-bottom: 2px solid rgb(236, 12, 12);
    padding: 80px 0;
}

.task_3 {
    border-bottom: 2px solid rgb(236, 12, 12);
    padding: 80px 0; 
}

.task4 {
    border-bottom: 2px solid rgb(236, 12, 12);
}

.task4 ul {
    margin: 0 42%;
    padding: 0 0 100px 0;
}
