* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.title {
    color: rgb(28, 150, 20);
    font-size: 44px;
    line-height: 54px;
    margin: 35px 0 75px 0;
    text-align: center;
}

/* TASK01 */

.title span {
    color: rgb(11, 11, 143);
    font-size: 62px;
}

.offer-list {
    padding: 0 0 100px 0;
    text-align: center;
    border-bottom: 3px solid rgb(197, 10, 66);
}

.list {
    display: inline-block;
    list-style: none;
}

.list li:last-child {
    margin-right: 0;
}

.list__item {
    display: inline-block;
    margin: 0 25px 0 0;
    text-transform: uppercase;
}

.list__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.list__link:hover,
.list__link:focus {
    color: blueviolet;
}

.offer-list a {
    display: inline-block;
    color: #000000;
    line-height: 1.35;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.offer-list a:before {
    display: block;
    content: "";
    background-color: #e64616;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.offer-list a:after {
    display: block;
    content: "";
    background-color: #e64616;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.offer-list a:hover:before,
.offer-list a:focus:before,
.offer-list a:hover:after,
.offer-list a:focus:after {
    width: 100%;
}

/* TASK02 */
.task02 {
    padding: 75px 0;
    border-bottom: 3px solid rgb(197, 10, 66);
}

.offer-block {
    margin: 0 auto;
    width: 470px;
    padding: 38px 25px;
    background-color: rgb(250, 250, 250);
    /* border: 1px solid #000000; */
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.block {
    width: 420px;
}

.block__img {
    margin: 0 0 20px 0;
}

.block__subtitle {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 14px 0;
}

.block__title {
    font-size: 30px;
    margin: 0 0 20px 0;
}

/* TASK03 */
.task03 {
    padding: 100px 0;
    border-bottom: 3px solid rgb(197, 10, 66);
}

.offer-box {
    padding: 40px 0;
    font-size: 0;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.box {
    display: inline-block;
    width: 420px;
    margin: 0 58px 0 30px;
}

.box:last-child {
    margin-right: 0;
    margin-left: 0;
}

.box__img {
    margin: 0 0 20px 0;
}

.box__subtitle {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 14px 0;
}

.box__title {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.box__text {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

/* TASK04 */
.task04 {
    padding: 100px 0;
}

.list-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
}

.list-item:hover {
    color: #e64616;
    cursor: pointer;
}



