@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: 'Roboto', 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
color: rgb(51, 51, 51);
}

.container {
    width: 1210px;
    margin: 0 auto;
}

h1 {
    color: rgb(149, 225, 211);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/* HEADER */
header {
    padding: 28px 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
    color: rgb(149, 225, 211);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 34vw;
}

.navigation-list__item {
    padding: 0 25px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.navigation-list__link {
    color: rgb(149, 225, 211);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 25px;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
    color: rgb(255, 96, 0); 
}

.navigation-list__link:after {
    background-color: rgb(255, 96, 0);
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transition: width .3s ease-in-out;
}
.navigation-list__link:hover:after,
.navigation-list__link:focus:after {
    width: 100%;
}

/* MAIN */

/* SECTION SERVICES */
.services {
    padding: 100px 0;
}

.service-title {
    text-align: center;
    margin-bottom: 106px;
}

.main-subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 16px;
}

.services-list {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style-type: none;
    margin-bottom: 94px;
}

.service-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.service-item__img {
    width: 32px;
    height: 32px;
    margin: 3px 0;
    color: rgb(149, 225, 211);
}

.service-item__box {
    width: 85%;
}

.service-item__title {
    margin-bottom: 12px;
}

.service-item__text {
    width: 95%;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
