@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    overflow-x:hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Roboto',  sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
}

h3 {
    font-family: 'Roboto',  sans-serif;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto',  sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
}

h5 {
    color: rgb(254, 254, 254);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.32px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
.header {
    padding: 38px 0 32px 0;
    background-color: rgb(255, 255, 255);
}

.logo {
    float: left;
}

.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: 900;
}

.logo-link {
    text-decoration: none;
    color: rgb(85, 82, 82);
}

.navigation-list {
    float: right;
}

.navigation-list__item {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    line-height: 72px;
}

.navigation-list__item:last-child {
    margin-right: 0;
}

.navigation-list__link {
    text-decoration: none;
    color: rgb(15, 1, 1);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
    color: rgb(26, 188, 156);
}

/* SECTION SLIDER */
.slider-wrapper {
    display: block;
    height: 600px;
}

.img-wrapper {
    position: relative;   
}

.slider-img {
    display: block;  
    position: relative;
    height: 600px;
    width: 100vw;
    filter: brightness(52%);
    object-fit: cover;
}

.content-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 600px;
    width: 1110px;
}

.slider-btn {
    position: inherit; 
    top: 47%;
    transform: translateY(-50%);
    border: none;
    display: inline-block;
    height: 104px;
    width: 104px;
    color: rgb(255, 255, 255);
    background-color: rgba(78, 198, 171, 0.65);
    z-index: 20;
    cursor: pointer;
}

.slider-btn:hover {
    background-color: rgb(26, 188, 156);
}

.slider-btn__prev {
    left: 0;
}

.slider-btn__next {
    right: 0;
}

.slider-title {
    display: block;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);   

}

.slider-subtitle {
    position: absolute;
    top: 48%;
    left: 15%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 54px;
}
/* SECTION COLLECTION */
.collection {
    padding: 70px 0 110px;
    background-color: rgb(233, 240, 253);
}

.collection-title {
    color: rgb(81, 81, 81);
    text-align: center;
    font-size: 48px;
    line-height: 107px;
    letter-spacing: -0.96px; 
    margin-bottom: 90px;
}

.collection-title::after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgb(26, 188, 156);
}

.list-item {
    position: relative;
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

.list-item:last-child {
    margin-right: 0;
}

.list-img {
    display: block;  
}

.list-item:hover .list-item__info { 
    background-color: rgb(25, 188, 155);
}

.list-item:hover .overlay {
    display: block;
   
} 

.list-item__info {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
}

.list-item__title {
    float: left;
    margin-left: 14px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.list-item__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list-item__price {
    float: right;
    width: 54px;
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.44);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.overlay {
    display: none;
    position: absolute;
    top: 2%;
    right: 3%;
    width: 94%;
    height: 83%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
}

.overlay-wrap {
    position: absolute;
    width: 175px;
    top: 50%; 
    left: 51%; 
    transform: translate(-50%, -50%) 

}

.btn {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 7px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.55);
    border: none;
    outline: 1px solid rgb(255, 255, 255);
}

.btn:hover {
    background-color: rgb(26, 188, 156);
}

.btn:last-child {
    margin-right: 0;    
}

.btn-lg {
    width: 168px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    outline: 1px solid rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
}

.btn-lg:hover {
    background-color: rgb(26, 188, 156);
}

.btn-lg i {
    margin-right: 20px;
    line-height: 50px;
}


/* FOOTER */
footer {
    padding: 38px 0;
    background-color: rgb(50, 50, 50);
}

.footer-wrap {
    text-align: center;
}

.footer-title {
    display: inline-block; 
}

.footer-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(70, 191, 169);
    letter-spacing: -0.32px;
}



