.understyle {
  font-family: $secondary-font;
  font-weight: 300;
  font-style: italic;
/* SECTION FEATURES */

/* SECTION TEAM */



.team__list {
  margin-bottom: 78px;
}

.team__item-card {
  display: block;
  position: relative;
  margin-bottom: 26px;
}

.team__item-title {
  margin-bottom: 6px;
}

.team__item {
  display: block;
}

.team__item:hover .team__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition: -webkit-transform 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -o-transition: transform 0.2s linear, box-shadow 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear,
    -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear,
    -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  cursor: pointer;
}

.team__item:hover .team__item-img {
  display: block;
  position: relative;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team__item:hover .overlay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__title {
  margin-bottom: 6px;
}

.team__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-list {
  display: none;
  width: 224px;
  height: 56px;
  background-color: $yellow-color;
}

.overlay-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style-type: none;
  outline: 1px solid $red-color;
  z-index: 100;
}

.overlay-item:hover {
  background-color: $red-color;
}

.overlay-item:hover .overlay-link svg {
  fill: $white-color;
}

.overlay-link {
  height: 56px;
  width: 56px;
}

.overlay-link svg {
  display: block;
  width: 50%;
  height: 50%;
  fill: $red-color;
}

/* FOOTER */

.footer-nav {
  padding: 22px 0;
  border-top: 1px solid $footer-line;
}

.footer-nav__text {
  color: $secondary-text-color;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  margin-right: 3px;
}

.footer-nav__link {
  color: $red-color;
  font-size: 14px;
  font-weight: 700;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid $primary-outline-color;
}

.footer-form input {
  color: $secondary-text-color;
  font-family: $secondary-font;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  padding: 8px 54px 8px 10px;
  outline: none;
  border: none;
}

.footer-form__btn {
  background-color: $primary-bg-color;
}
