* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
}

h2 {
    color: rgb(81, 81, 81);
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 43px 0 0 0;
}

.nav-logo {
    float: left;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(85, 82, 82);
}

.nav-logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: 400;
}

.nav__list {
    float: right;   
}

.nav__list-item {
    float: left;
    list-style-type: none;
    margin: 21px 30px 0 0; 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.28px;
}

.nav__list-link {
    padding: 0 26px;
}

.nav__list-item:last-child {
    margin-right: 0;
}

.nav__list-link {
    text-decoration: none;
    color: rgb(15, 1, 1);
}

.nav__list-link:hover,
.nav__list-link:focus {
    color: rgb(26, 188, 156);
}

/* SECTION FEATURED */
.featured {
    padding: 95px 0;
}

.featured-title {
    margin-bottom: 126px;
    line-height: 142px;
}

.featured-title:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgb(26, 188, 156);
}


.list__block {
    float: left;
    margin: 0 30px 30px 0;
    background-color: rgb(233, 240, 253);
    list-style-type: none;
}

.list__block:nth-child(4n){
    margin-right: 0;
}

.list__block:nth-child(n+5){
    margin-bottom: 0;
}

.list__block-img {
    display: block;
}

.list__block-info {
    display: block;
    background-color: rgb(50, 50, 50);
}


.list__block:hover .list__block-info { 
    background-color: rgb(25, 188, 155);} 


.list__block-title {
    float: left;
    margin-left: 14px;
    text-transform: uppercase;
}

.list__block-title a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list__block-price {
    width: 54px;
    height: 40px;
    float: right;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.44);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

/* SECTION NEWS */
.news {
   padding: 10px 0 80px; 
}

.news-title {
    color: rgb(85, 82, 82);
    margin: 0 0 100px 0;
    line-height: 142px;
}

.news-title:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgb(26, 188, 156);
}

.list-feature__item {
    float: left;
    width: 350px;
    margin: 0 30px 0 0;
    list-style-type: none;
}

.list-feature__item:last-child {
    margin-right: 0;
}

.list-feature__title {
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    letter-spacing: -0.36px;
    margin: 0 0 38px 0;
}

.list-feature__title:after {
    content: '';
    display: block;
    width: 136px;
    height: 3px;
    margin-top: 8px;
    background-color: rgb(78, 198, 171);
}

.list-feature__text {
    color: rgb(85, 82, 82);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.28px;
    margin: 0 0 32px 0;
}

.list-feature__link {
    padding: 17px 43px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 198, 171);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.32px;
    text-decoration: none;
} 

.list-feature__link:hover {
    padding: 15px 37px;
    background-color: rgb(255, 255, 255);
    color:rgb(78, 198, 171);
    font-weight: 900;
    border: 2px solid rgb(78, 198, 171);    
    border-radius: 5px;
}







   





    
