@media (min-width: 320px) and (max-width: 424px) {
  .registration-list {
    display: flex;
    justify-content: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 670px;
    margin: 0 auto;
  }

  .registration-list {
    /* display: flex; */
    margin-top: 25px;
  }

  .dreams__text {
    width: 410px;
    font-size: 24px;
  }

  .title {
    width: 420px;
    font-size: 22px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }

  .registration-list {
    margin-top: 25px;
  }

  .dreams__title {
    font-size: 52px;
    width: 510px;
  }

  .dreams__text {
    width: 410px;
    font-size: 24px;
  }

  .title {
    width: 420px;
    font-size: 22px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .container {
    width: 2440px;
    margin: 0 auto;
  }

  .registration-list {
    margin-top: 35px;
  }

  .dreams__title {
    font-size: 52px;
    width: 510px;
  }

  .dreams__text {
    width: 410px;
    font-size: 24px;
  }

  .title {
    width: 420px;
    font-size: 22px;
    margin-bottom: 35px;
  }
}
