@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

p {
  font-family: Roboto;
  font-weight: 300;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 700;
}

a,
button,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.link {
  font-size: 14px;
  font-weight: 700;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 25px;
  text-align: center;
}

.container {
  min-width: 320px;
  width: 100%;
  height: 540px;
  height: 100%;
  margin: 0 auto;
}

 .wrap__holiday-dreams {
  min-height: 540px;
  height: 100%;
  text-align: center;
  background: no-repeat url("../img/bg_desktop.png") center top;
  object-fit: cover;
  background-size: cover;
  background-color: rgb(26, 25, 21);
}

.registration-wrap {
  margin-bottom: 34px;
}

.registration-btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 11px 19px;
  margin-bottom: 75px;
  border: 2px solid rgb(255, 255, 255, 0);
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.registration-btn:hover {
  border: 2px solid rgb(255, 255, 255, 1);
} 

.registration-btn:active {
  background-color: rgb(98, 228, 200);
} 

.logo {
  margin-bottom: 30px;
}

.dreams__title {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.dreams__text {
  margin: 0 auto;
  width: 220px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 33px;
}

.dreams__link {
  padding: 13px 52px;
}

.dreams__link:hover {
  background-color: rgb(255, 78, 80);
}

.partners {
  padding: 69px 0;
}

.partners-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: block;
  width: 282px;
  color: rgb(51, 51, 51);
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.team__item {
  width: 220px;
  list-style-type: none;
  margin-bottom: 24px;
  text-align: center;
}

.team__item-wrap {
  display: block;
  position: relative;
}

.team__item-wrap::after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 45px;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50px;
}

.icon-tv::after {
  background-image: url("../img/tv.png");
  background-color: rgb(255, 78, 80);
}

.icon-flask:after {
  background-image: url("../img/flask.png");
  background-color: rgb(255, 165, 7);
}

.icon-coffee:after {
  background-image: url("../img/coffee.png");
  background-color: rgb(28, 215, 173);
}

.icon-telegram:after {
  background-image: url("../img/telegram.png");
  background-color: rgb(78, 115, 219);
  
}

.team__item-wrap {
  margin-bottom: 14px;
}

.team__item-title {
  margin-bottom: 14px;
}

.team__item-text {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-bottom: 14px;
}

.team__link {
  padding: 13px 74px;
  color: rgb(255, 78, 80);
}

.team__link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 78, 80);
} 
