html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

/* section navigation */
.navigation {
    padding: 0;
    margin: 0;
}

.nav-list {
    text-align: center;
    padding: 77px 0 103px 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
}

.nav-item:nth-child(1) {
    margin-right: 121px;
}

.nav-item:nth-child(2) {
    margin-right: 103px;
}

.nav-item:nth-child(3) {
    margin-right: 95px;
}

.nav-link {
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
    color: #03a9f4;
}

/* section { 
   
 } */

.row {
   margin: 0 0 124px 0; 
}

.row:nth-last-child(-n+1) {
    margin-bottom: 0;
}

.box {
    display: inline-block;
    width: 420px;
    margin: 0 50px 0 0;
}

.box:nth-child(2n) {
    margin-right: 0;
}

.box__subtitle {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.box__title {
    font-size: 30px;
}

footer {
    padding: 55px 0 70px 0;
}

.btn {
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    color: #626262;
    background-color: #ffffff;
    padding: 18px 34px;
    border: 1px solid #626262;
}

.btn:hover {
    color: #ffffff;
    background-color: #03a9f4;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

