$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$cursive-font: 'Kaushan Script', cursive;

$white-color: #ffffff;

$yellow-color: #fce38a;

$red-color: #f38181;

$primary-text-color: #999999;
$secondary-text-color: #333333;

$primary-bg-color: #95e1d3;

$footer-line: #e5e5e5;

$primary-outline-color: #e7e7e7;

